@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.canvas {
  margin: -1px;
  height: 3000px;
  width: 2000px;
  background-size: 50px 50px;
  background-image: radial-gradient(circle, #718096 1px, #1a202c 1px);
}

.cell {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 50;
  border-color: white;
  background-color: transparent;
  color: white;
}

.string-label {
  position: absolute;
  /* position: sticky; */
  /* bottom: 30px; */
}

.string {
  position: absolute;
  width: 2000px;
  z-index: 0;
}

.axis {
  width: 100vw;
  height: 1px;
  color: black;
}
